$fontfamily :  "Roboto", sans-serif;
$fontweight : 400;
$lineheight : normal;
@mixin text($fs){
    font-family: $fontfamily;
    font-weight: $fontweight;
    line-height: $lineheight ;
    font-size: $fs;
}
%container{
    max-width: 1190px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
%button{
  font-family: $fontfamily;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  padding: 20px 80px;
  color: rgb(120, 117, 254);
  box-sizing: border-box;
  border: 1px solid rgb(120, 117, 254);
  transition: 0.5s;
  &:hover{
    background: rgb(120, 117, 254);
    color: white;
  }
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
}
*,*::after,*::before{
    box-sizing: inherit;
}
a{
    cursor: pointer;
}
input {
    all: unset;
  }
.site-wrapper{
    overflow-x: hidden;
}








html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none; /* no underline */
  color: inherit;
}
button{
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
      border: 2px solid currentcolor;
  }
}


@media (max-width:768px){
  %container{
    padding-left: clamp(1.25rem, -2.5rem + 10.42vw, 2.5rem);
    padding-right: clamp(1.25rem, -2.5rem + 10.42vw, 2.5rem);
  }
  %button{
    padding: clamp(0.938rem, 2.6vw, 1.25rem) clamp(3.125rem, -2.5rem + 15.63vw, 5rem);
  }
}